*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
}
body{
    background: linear-gradient(to right,#0f172a, #1e293b);
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #111827;
    border-bottom: 3px solid gold;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 50ppx;
    height: 50px;
    border-radius: 50%;
    border: 2px solid gold;
}
.hero img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
}
.info{
    flex: 1;
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
}
.form-card{
    width: 300px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
}
.form-card h2{
    text-align: center;
    margin-bottom: 15px;
    color: #111827;
}
.form-card input,
.form-card select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
