*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
}
body{
    background: linear-gradient(to right,#0f172a, #1e293b);
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
